@page
@model SiteNdoc.Views.Home.ContentModel
@{
}

<div id="section-tab-1" class="tabs-content tabs-content--active section__tabs-content">
    <h2 class="section__title">Последние документы</h2>
    <ul class="section__list">
        <li class="section__item section-item">
            <a href="#" class="section-item__body">
                <time class="section-item__time">16.09.2022</time>
                <p class="section-item__text">Приложение 10 к ОПОП. КАДРОВОЕ ОБЕСПЕЧЕНИЕ ПЕДАГОГИЧЕСКИХ РАБОТНИКОВ ОБРАЗОВАТЕЛЬНОЙ ПРОГРАММЫ</p>
            </a>
        </li>
        <li class="section__item section-item">
            <a href="#" class="section-item__body">
                <time class="section-item__time">16.09.2022</time>
                <p class="section-item__text">Приложение 10 к ОПОП. КАДРОВОЕ ОБЕСПЕЧЕНИЕ ПЕДАГОГИЧЕСКИХ РАБОТНИКОВ ОБРАЗОВАТЕЛЬНОЙ ПРОГРАММЫ</p>
            </a>
        </li>
        <li class="section__item section-item">
            <a href="#" class="section-item__body">
                <time class="section-item__time">16.09.2022</time>
                <p class="section-item__text">Приложение 10 к ОПОП. КАДРОВОЕ ОБЕСПЕЧЕНИЕ ПЕДАГОГИЧЕСКИХ РАБОТНИКОВ ОБРАЗОВАТЕЛЬНОЙ ПРОГРАММЫ</p>
            </a>
        </li>
        <li class="section__item section-item">
            <a href="#" class="section-item__body">
                <time class="section-item__time">16.09.2022</time>
                <p class="section-item__text">Приложение 10 к ОПОП. КАДРОВОЕ ОБЕСПЕЧЕНИЕ ПЕДАГОГИЧЕСКИХ РАБОТНИКОВ ОБРАЗОВАТЕЛЬНОЙ ПРОГРАММЫ</p>
            </a>
        </li>
        <li class="section__item section-item">
            <a href="#" class="section-item__body">
                <time class="section-item__time">16.09.2022</time>
                <p class="section-item__text">Приложение 10 к ОПОП. КАДРОВОЕ ОБЕСПЕЧЕНИЕ ПЕДАГОГИЧЕСКИХ РАБОТНИКОВ ОБРАЗОВАТЕЛЬНОЙ ПРОГРАММЫ</p>
            </a>
        </li>
        <li class="section__item section-item">
            <a href="#" class="section-item__body">
                <time class="section-item__time">16.09.2022</time>
                <p class="section-item__text">Приложение 10 к ОПОП. КАДРОВОЕ ОБЕСПЕЧЕНИЕ ПЕДАГОГИЧЕСКИХ РАБОТНИКОВ ОБРАЗОВАТЕЛЬНОЙ ПРОГРАММЫ</p>
            </a>
        </li>
        <li class="section__item section-item">
            <a href="#" class="section-item__body">
                <time class="section-item__time">16.09.2022</time>
                <p class="section-item__text">Приложение 10 к ОПОП. КАДРОВОЕ ОБЕСПЕЧЕНИЕ ПЕДАГОГИЧЕСКИХ РАБОТНИКОВ ОБРАЗОВАТЕЛЬНОЙ ПРОГРАММЫ</p>
            </a>
        </li>
        <li class="section__item section-item">
            <a href="#" class="section-item__body">
                <time class="section-item__time">16.09.2022</time>
                <p class="section-item__text">Приложение 10 к ОПОП. КАДРОВОЕ ОБЕСПЕЧЕНИЕ ПЕДАГОГИЧЕСКИХ РАБОТНИКОВ ОБРАЗОВАТЕЛЬНОЙ ПРОГРАММЫ</p>
            </a>
        </li>
    </ul>
</div>
<div id="section-tab-2" class="tabs-content section__tabs-content">content-2</div>
<div id="section-tab-3" class="tabs-content section__tabs-content">content-3</div>
<div id="section-tab-4" class="tabs-content section__tabs-content">content-4</div>
<div id="section-tab-5" class="tabs-content section__tabs-content">content-5</div>
<div id="section-tab-6" class="tabs-content section__tabs-content">content-6</div>
<div id="section-tab-7" class="tabs-content section__tabs-content">content-7</div>
<div id="section-tab-8" class="tabs-content section__tabs-content">content-8</div>
<div id="section-tab-9" class="tabs-content section__tabs-content">content-9</div>
<div id="section-tab-10" class="tabs-content section__tabs-content">content-10</div>
<div id="section-tab-11" class="tabs-content section__tabs-content">content-11</div>
<div id="section-tab-12" class="tabs-content section__tabs-content">content-12</div>
<div id="section-tab-13" class="tabs-content section__tabs-content">content-13</div>
<div id="section-tab-14" class="tabs-content section__tabs-content">content-14</div>
<div id="section-tab-15" class="tabs-content section__tabs-content">content-15</div>
