@{
    ViewData["Title"] = "Home Page";
}

<section class="section">
    <div class="section__container container">
        
        <div class="tabs-container section__tabs-container">
            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="#">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="#">Результаты поиска</a>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
</section>