@page
@model SiteNdoc.Views.Home.SideBarModel
@{

}

<div class="tabs-wrapper section__tabs-wrapper">
    <div class="tabs section__tabs">
        <a href="#section-tab-1" class="tab tab--active section__tab">
            <p class="tab__text">
                Осново-полагающие документы
            </p>
        </a>
        <a href="#section-tab-2" class="tab section__tab">
            <p class="tab__text">
                Приказы ректора
            </p>
        </a>
        <a href="#section-tab-3" class="tab section__tab">
            <p class="tab__text">
                Постановления Советов
            </p>
        </a>
        <a href="#section-tab-4" class="tab section__tab">
            <p class="tab__text">
                Положения о структурных подразделениях
            </p>
        </a>
        <a href="#section-tab-5" class="tab section__tab">
            <p class="tab__text">
                Образовательная деятельность
            </p>
        </a>
        <a href="#section-tab-6" class="tab section__tab">
            <p class="tab__text">
                Научная деятельность
            </p>
        </a>
        <a href="#section-tab-7" class="tab section__tab">
            <p class="tab__text">
                Воспитательная и социальная работа
            </p>
        </a>
        <a href="#section-tab-8" class="tab section__tab">
            <p class="tab__text">
                Финансово-экономическая деятельность
            </p>
        </a>
        <a href="#section-tab-9" class="tab section__tab">
            <p class="tab__text">
                Административно-хозяйственная деятельность
            </p>
        </a>
        <a href="#section-tab-10" class="tab section__tab">
            <p class="tab__text">
                Информатизация
            </p>
        </a>
        <a href="#section-tab-11" class="tab section__tab">
            <p class="tab__text">
                Проекты документов
            </p>
        </a>
        <a href="#section-tab-12" class="tab section__tab">
            <p class="tab__text">
                Самообследование
            </p>
        </a>
        <a href="#section-tab-13" class="tab section__tab">
            <p class="tab__text">
                Противодействие коррупции
            </p>
        </a>
        <a href="#section-tab-14" class="tab section__tab">
            <p class="tab__text">
                Инклюзивное образование
            </p>
        </a>
        <a href="#section-tab-15" class="tab section__tab">
            <p class="tab__text">
                Документы ИСПДН
            </p>
        </a>
    </div>
</div>
